* {
  box-sizing: border-box !important;
}

body {
  font-family: $default-font;
  font-size: 14px;
  background-color: #f5f5f5;
  color: #191e27;
}
body.unscrollable {
  overflow: hidden;
}
.wrapper {
  .container {
    flex-direction: column;
  }
}

.container {
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  @media ($md) {
    width: 720px;
  }
  @media ($lg) {
    width: 960px;
  }
  @media ($xl) {
    width: 1140px;
  }
}

a {
  color: #000;
  transition: all .3s;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.icon_svg {
  width: 16px;
  height: 16px;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea,
select {
  /*padding: 8px 10px;*/
  padding: 10px 12px;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
}

.default_button {
  font-weight: 300;
  font-size: 14px;
  background: #ae1800;
  color: #fff;
  border: none;
  padding: 10px 20px 12px 20px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  text-decoration: none !important;
  @extend shorttrans;
  svg {
    fill: #fff;
    width: 15px;
    margin-right: 8px;
  }
}