/* Colors */
$prime: #009ebc;
$second: #4c9787;
$pink: #e869c1;
$default: #191e27;
$gray: #808080;
$lightgray: #b3b3b3;
$white: #fff;
$border: #d6d6d6;
$default-font:  Arial, Tahoma, sans-serif;
$head-font: "Roboto Slab", Arial, Tahoma, sans-serif;

$sm: (min-width: 480px); /* small >= 480 */
$md: (min-width: 768px); /* medium >= 768 */
$lg: (min-width: 992px); /* large >= 998 */
$xl: (min-width: 1200px); /* extra large >= 1200 */

@mixin dib {
  display: inline-block;
  vertical-align: middle;
}
@mixin clearul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@mixin shorttrans {
  transition: all .3s;
}


@mixin container {
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  @media $md {
    width: 720px;
  }
  @media $lg {
    width: 960px;
  }
  @media $xl {
    width: 1140px;
  }
}
