@import 'vars.pcss';
@import '../../node_modules/slick-carousel/slick/slick.css';
@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css';
@import '../blocks/header/header.pcss';
@import '../blocks/svg-sprite/svg-sprite.pcss';
