extends pug/layout.pug

block meta
  title Главная

//- block append head
//-   link(rel='stylesheet', href='css/some.css')
block header
  .header
    .span Логотип

block content
  p Содержимое

block footer
  p Подвал

//- block page-bottom
//-   script(src='js/some.js')
